@media only screen and (max-device-width: 1024px) {
  .video-js .vjs-volume-panel:not(.vjs-hidden) {
    display: block !important;
    width: 2.5em !important;
  }

  .vjs-title-wrapper.vjs-menu-button.vjs-menu-button-popup.vjs-control {
    margin-left: 1.6em;
  }

  .video-js .vjs-volume-panel:not(.vjs-hidden) .vjs-volume-control {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  .video-js:not(.vjs-fullscreen) .vjs-control-bar {
    font-size: 25px;
  }

  .video-js .vjs-progress-control{
    font-size: 1.2em;
  }
  .video-js .vjs-play-control.vjs-control {
    margin-left: 1em;
    font-size: 0.9em;
  }

  .video-js .vjs-mute-control .vjs-icon-placeholder:before{
    margin-left: 1em;
    font-size: 2.4em;
  }

  .video-js .vjs-next-button{
    padding-left: 0;
  }

  #player-help {
    margin-left: 1.6em;
  }

  .video-js .vjs-subtitles-button.vjs-menu-button-popup .vjs-menu{
    right: -8.8em;
  }

  .video-js .vjs-title-wrapper.has-menu .vjs-menu {
    left: -4em;
  }

  .video-js .vjs-title-wrapper.has-menu .vjs-menu .bottom-line svg{
    width: 50px;
  }
  

  .vjs-text-track-display {
    font-size: 2.2em;
    bottom: 8em;
  }

  .video-js .vjs-next-button .vjs-control-text,
  .video-js .vjs-playback-rate.vjs-menu-button,
  .video-js .vjs-resolution-button-wrapper.vjs-menu-button,
  .video-js .vjs-title-wrapper.has-menu .vjs-control-text {
    display: none;
  }
} 