/* Text translate */
.vjs-text-track-display {
  height: 7em;
  top: auto;
  bottom: 6em;
  pointer-events: auto;
}

.vjs-text-track-display>div {
  margin: 0 !important;
}

.video-js .vjs-text-track-display .tooltip_content {
  display: none;
}

.video-js .vjs-text-track-display .vjs-text-track-cue {
  top: auto !important;
  bottom: 0 !important;
  height: max-content !important;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-size: 2em !important;
}

.video-js .vjs-text-track-display .vjs-text-track-cue > div {
  color: #fc6 !important;
  font-size: 1.4em;
}

.video-js .vjs-text-track-display .vjs-text-track-cue .word-container {
  position: relative;
  z-index: 3;
}

.video-js .vjs-text-track-display .word-container .tooltip {
  display: none;
  position: absolute;
  width: 20em;
  font-size: 0.70em;
  bottom: 100%;
  left: calc(50% - 10em);
  padding: 1em;
  text-align: left;
  box-sizing: border-box;
  background: #222121;
  border-radius: 4px;
  color: white;
}

.video-js .vjs-text-track-display .word-container.active .tooltip {
  display: block !important;
}

.word:hover {
  background-color: rgba(96, 132, 185, 0.83);
}

.video-js .vjs-text-track-cue .tooltip .translated_text {
  margin: 0 0 1em 0;
  font-size: 1.35em;
  opacity: 0.7;
  max-width: 75%;
}

.video-js .vjs-text-track-cue .tooltip .translation {
  color: #FDC666;
  font-weight: bold;
}

.video-js .vjs-text-track-display .tooltip .translation_version span.text_version {
  font-size: 1.1em;
  color: #7e7d7d;
}

.video-js .vjs-text-track-display .tooltip .translation_version span.part_of_speech{
  color: #626162;
  font-size: 0.9em;
  float: right;
  margin-left: 0.5em;
}

.video-js .vjs-text-track-display .tooltip .translation_version {
  margin-top: 1.5em;
  position: relative;
  font-size: 0.85em;
}

.video-js .vjs-text-track-cue .translation_dictionary_image {
  cursor: pointer;
  font-size: 0.7em;
  margin-left: 15px;
  float: right;
  width: 2em;
  height: 2em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Language selection */

.video-js .vjs-subtitles-button .vjs-control-text  {
  padding-left: 2.3em;
  padding-right: 0.3em;
  margin: 0;
}

.video-js .vjs-subtitles-button >.vjs-control-text{
  display: flex;
  align-items: center;
  line-height: 2.6em;
  font-size: 1.68em;
  width: auto;
  height: 100%;
  position: relative;
  -webkit-transition: opacity 0.4s;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-js .vjs-subtitles-button {
  width: auto;
}

.video-js .vjs-subtitles-button .vjs-icon-placeholder:before {
  width: 1.3em;
  left: 0%;
  transform: translate(0%, -50%);
}

.video-js .vjs-subtitles-button .font-size-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #161515;
  margin: -2.8em -2.8em 1.3em;
  padding: 1.5em 2.8em;
}

.video-js .vjs-subtitles-button .vjs-menu .vjs-menu-content {
  padding: 2.8em;
  overflow: hidden;
}

.video-js .vjs-subtitles-button.vjs-menu-button-popup .vjs-menu {
  min-width: 25em;
  left: auto;
  right: -3.6em;
}

.video-js .vjs-subtitles-button .vjs-menu-item.main-lang {
  margin-bottom: 0;
}

.video-js .vjs-subtitles-button .divider {
  position: relative;
  left: -3em;
  clear: both;
  width: 100%;
  width: calc(100% + 6em);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 1em;
}

.video-js .vjs-subtitles-button .vjs-menu-content .vjs-menu-item.vjs-selected:before {
  content: '';
} 

.vjs-subtitles-button .vjs-menu li.vjs-selected,
.vjs-subtitles-button .vjs-menu li.vjs-selected:hover,
.vjs-subtitles-button .vjs-menu li.vjs-selected:focus {
  color: #ceba7a;
}

.vjs-subtitles-button .vjs-menu li.vjs-menu-item:hover {
  background-color: inherit;
}

.video-js .vjs-subtitles-button .vjs-menu-item.vjs-selected .checkbox-item svg {
  width: 0.6em;
  fill: #ceba7a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-js .vjs-subtitles-button .font-size-control .text {
  text-align: left;
  font-size: 1.4em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.video-js .vjs-subtitles-button .font-size-control .item:nth-of-type(1) {
  border-radius: 3px 0 0 3px;
}

.video-js .vjs-subtitles-button .font-size-control .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: auto;
  padding: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-transition: color 0.4s, border-color 0.4s;
  transition: color 0.4s, border-color 0.4s;
  vertical-align: middle;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
  font-weight: bold;
}

.video-js .vjs-subtitles-button .font-size-control .item:hover {
  border-color: white;
  color: white;
}

.video-js .vjs-control:focus {
  text-shadow: none;
}

.video-js .vjs-subtitles-button .vjs-menu-item {
  display: flex;
  text-transform: capitalize;
  color: white;
  position: relative;
  width: 4.9em;
  float: left;
  padding: 0 1em 0 2em;
  margin: 0 1.5em 1.2em 0;
  text-align: left;
}

.video-js .vjs-subtitles-button .vjs-menu-item sup {
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5em;
  border-radius: 4px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  width: 1.5em;
  height: 1.5em;
}

.video-js .vjs-subtitles-button .vjs-menu-item:nth-of-type(2n) {
  margin-right: 0;
}

.video-js .vjs-subtitles-button .vjs-menu-item .checkbox-item {
  font-size: 1.3em;
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/*Button next  */

.video-js .vjs-next-button {
  margin-left: auto;
}

.video-js .vjs-next-button>.vjs-control-text {
  line-height: 2.6em;
  font-size: 1.68em;
  width: auto;
  height: 100%;
  position: relative;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}