/* Text translate */
.vjs-text-track-display {
  height: 7em;
  top: auto;
  bottom: 6em;
  pointer-events: auto;
}

.vjs-text-track-display>div {
  margin: 0 !important;
}

.video-js .vjs-text-track-display .vjs-text-track-cue {
  top: auto !important;
  bottom: 0 !important;
  height: max-content !important;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-size: 2em !important;
}

.video-js .vjs-text-track-display .vjs-text-track-cue div {
  color: #fc6 !important;
  font-size: 1.4em;
}

.video-js .vjs-text-track-display .vjs-text-track-cue .word-container {
  position: relative;
  z-index: 3;
}

.video-js .vjs-text-track-display .word-container .tooltip {
  display: none;
  position: absolute;
  width: 20em;
  font-size: 0.70em;
  bottom: 100%;
  left: calc(50% - 10em);
  padding: 1em;
  text-align: left;
  box-sizing: border-box;
  background: #222121;
  border-radius: 4px;
  color: white;
}

.video-js .vjs-text-track-display .word-container.active .tooltip {
  display: block !important;
}

.word:hover {
  background-color: rgba(96, 132, 185, 0.83);
}

.video-js .vjs-text-track-cue .tooltip .translated_text {
  margin: 0 0 1em 0;
  font-size: 1.35em;
  opacity: 0.7;
  max-width: 75%;
}

.video-js .vjs-text-track-cue .tooltip .translation,
.video-js .vjs-text-track-cue .loading .translation,
.video-js .vjs-text-track-cue .error .translation {
  color: #FDC666;
  font-weight: bold;
}

.video-js .vjs-text-track-cue .tooltip .translation_dictionary_image {
  cursor: pointer;
  font-size: 0.7em;
  margin-left: 15px;
  float: right;
  width: 2em;
  height: 2em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.video-js .vjs-subtitles-button .vjs-control-text  {
  padding-left: 2.3em;
  margin: 0;
}

.video-js .vjs-subtitles-button >.vjs-control-text{
  display: flex;
  align-items: center;
  line-height: 2.6em;
  font-size: 1.6em;
  width: auto;
  height: 100%;
  position: relative;
  -webkit-transition: opacity 0.4s;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-js .vjs-subtitles-button {
  width: 7em;
}

.video-js .vjs-subtitles-button .vjs-icon-placeholder:before {
  left: 0%;
  transform: translate(-25%, -50%);
}

.video-js .vjs-subtitles-button .font-size-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #161515;
  margin: -2em -2em 1.3em;
  padding: 1em 2em;
}

.video-js .vjs-subtitles-button .vjs-menu .vjs-menu-content {
  padding: 2em;
}

.video-js .vjs-subtitles-button .font-size-control .text {
  text-align: left;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.video-js .vjs-subtitles-button .font-size-control .item:nth-of-type(1) {
  border-radius: 3px 0 0 3px;
}

.video-js .vjs-subtitles-button .font-size-control .item {
  display: inline-block;
  width: 3.5em;
  height: 2em;
  padding: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-transition: color 0.4s, border-color 0.4s;
  transition: color 0.4s, border-color 0.4s;
  vertical-align: middle;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.video-js .vjs-subtitles-button.vjs-menu-button-popup .vjs-menu {
  left: auto;
  right: -4em;
}

.video-js .vjs-control:focus {
  text-shadow: none;
}

